.app-container {
  font-family: sans-serif;
  margin: 32px auto;
  max-width: 710px;
  padding: 32px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 16px #0001;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 18px;
}

th, td {
  text-align: left;
  padding: 6px 10px;
  border-bottom: 1px solid #efefef;
  vertical-align: top;
  font-size: 1em;
}

th {
  background: #f8f8fa;
  letter-spacing: .01em;
  color: #222;
  border-bottom: 2px solid #d5dae4;
  font-weight: 500;
}

.compartment-table tr:hover td {
  background: #f0f5ff;
}

.policy-table td code {
  font-size: .97em;
  background: #f7f7fa;
  padding: 2px 4px;
  border-radius: 3px;
  line-height: 1.35;
}

button {
  border: 1px solid #d8dbf0;
  background: #f6f9ff;
  color: #235;
  padding: 5px 13px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  background: #ececfa;
  color: #134;
}

label {
  margin-right: 5px;
}

select {
  padding: 4px 10px;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
}